<section class="content-wrapper cf">
  <article class="articles-wrapper">
        <%= render '/news/articles', :collection => @news  %>
        <%= will_paginate @news %>
  </article>
  <%= render '/news/sidebar', collection: @popular  %>

  <div class="weather">
    <%=raw @weather_api %>
  </div>

</section>