- if user_signed_in? and current_user.admin?
  - if article.popular?
    = link_to image_tag('unpopular.png', onmousedown: "this.src='../assets/popular-down.png'",
                onmouseenter: "this.src='../assets/popular-hover.png'", onmouseout: "this.src='../assets/unpopular.png'"),
      unpopular_path(article, :type => controller_name), remote: true, method: :delete
  - else
    = link_to image_tag('popular.png', onmousedown: "this.src='../assets/popular-down.png'",
                onmouseenter: "this.src='../assets/popular-hover.png'", onmouseout: "this.src='../assets/popular.png'"),
      popular_path(article, :type => controller_name), remote: true, method: :post