%section.content-wrapper.cf
  %article.articles-wrapper
    = render 'news/articles', :collection => @economics
    = will_paginate @economics
  = render 'news/sidebar', collection: @popular
  .weather
    = raw @weather_api