<section class="content-wrapper cf">
  <article class="articles-wrapper">
        <%= render 'layouts/articles', :collection => @sport  %>
  </article>
  <aside class="cf" id="sidebar">
    <section>
      <h1>Popular</h1>
      <% counter = 0 %>
      <% @sport.each do |article| %>
          <% if article.popular %>
              <div class="news-item"><%= link_to article.name, news_path(article) %><a href="#">(5)</a></div>
          <% end %>
          <% break if (counter += 1) == 3 %>
      <% end %>
    </section>
  </aside>
  <div class="weather">
    <%=raw @weather_api %>
  </div>
</section>
