<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Birdman</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="images/logo2.png">
</head>
<body>
	<div class="main-wrapper">
	<header>
	<section class="nav-wrapper cf">
		<div class="logo"></div>
		<nav class="cf">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#" class="choosen-grope">Sport</a></li>
				<li><a href="index3.html">Music</a></li>
				<li><a href="index4.html">Politic</a></li>
				<li><a href="index5.html">Economic</a></li>
			</ul>
		</nav>
	</section>
	</header>
	<section class="content-wrapper cf">
	<article class="articles-wrapper">
		<a href="" class="article"><section>
			<img src="" alt="img">
			<article>
			<header>
				<h2>Lorem ipsum dolor sit.</h2>
				<time datetime="" >03.02.2015</time>
			</header>
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam repudiandae, vitae error quae molestiae ea cum dicta hic sequi harum illum optio odio reiciendis iste et, repellendus a voluptas quasi.</p>
			</article>
			</article>
		</section></a>
		<a href="" class="article"><section>
			<img src="" alt="img">
			<article>
			<header>
				<h2>Lorem ipsum dolor sit.</h2>
				<time datetime="" >03.02.2015</time>
			</header>
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam repudiandae, vitae error quae molestiae ea cum dicta hic sequi harum illum optio odio reiciendis iste et, repellendus a voluptas quasi.</p>
			</article>
			</article>
		</section></a><a href="" class="article"><section>
			<img src="" alt="img">
			<article>
			<header>
				<h2>Lorem ipsum dolor sit.</h2>
				<time datetime="" >03.02.2015</time>
			</header>
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam repudiandae, vitae error quae molestiae ea cum dicta hic sequi harum illum optio odio reiciendis iste et, repellendus a voluptas quasi.</p>
			</article>
			</article>
		</section></a><a href="" class="article"><section>
			<img src="" alt="img">
			<article>
			<header>
				<h2>Lorem ipsum dolor sit.</h2>
				<time datetime="" >03.02.2015</time>
			</header>
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam repudiandae, vitae error quae molestiae ea cum dicta hic sequi harum illum optio odio reiciendis iste et, repellendus a voluptas quasi.</p>
			</article>
			</article>
		</section></a>
	</article>
	<aside class="cf" id="sidebar">
		<section>
			<h1>Popular</h1>
			<div class="news-item"><a href="#f">Lorem ipsum dolor sit amet ipsum.</a><a href="#">(5)</a></div>
			<div class="news-item"><a href="#r">Lorem ipsum dolor sit amet, consectetur adipisicing.</a><a href="#">(7)</a></div>
			<div class="news-item"><a href="#s">Lorem ipsum dolor.</a><a href="#">(14)</a></div>
		</section>

		<div class="weather">
			<img src="" alt="weather-info">
		</div>
	</aside>
	</section>
	<footer class="cf">
		<div class="copyrigth"><p>© Lorem ipsum dolor. 2015</p></div>
		<address class="cf">
			<ul>
				<li><a href="" class="icon fb"></a></li>
				<li><a href="" class="icon yt"></a></li>
				<li><a href="" class="icon vk"></a></li>
			</ul>
		</address>
	</footer>
	</div>	
	<script src="js/jquery.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>