%section.content-wrapper.cf
  %article.articles-wrapper
    = render 'news/articles', :collection => @sport
    = will_paginate @sport
  = render 'news/sidebar', collection: @popular
  .weather
    = raw @weather_api