@font-face {
  font-family: 'LiberSer';
  src: asset-url('LiberationSerif-Regular.eot');
  src: asset-url('LiberationSerif-Regular.eot?#iefix') format('embedded-opentype'),
  asset-url('LiberationSerif-Regular.woff') format('woff'),
  asset-url('LiberationSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}