<% if collection.empty? %>
    <div class="no-articles-container">
        <h1 class="no-articles">There are not news</h1>
    </div>
<% end %>
<% collection.each do |article| %>
    <%= link_to news_path(article), :class => 'article' do %>
        <section>
            <img src="" alt="img">
            <article>
                <header>
                    <h2><%= article.name %></h2>
                    <time datetime="" ><% article.date.strftime('%d.%m.%Y') %></time>
                </header>
                <article>
                    <p><%= article.description %></p>
                </article>
            </article>
        </section>
    <% end %>
<% end %>